body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #362E2D;
}
.background-container{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
        justify-content: center;
        gap: 70px;
}
    .background-container article{
        margin-top: 50px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: flex;
            align-items: center;
            flex-direction: column;
            gap: 70px;
        width: max-content;
    }
        .background-container article.out{
            animation: slide-out-bck-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
            @keyframes slide-out-bck-bottom {
                0% {
                    transform: translateZ(0) translateY(0);
                    opacity: 1;
                }
                100% {
                    transform: translateZ(-1100px) translateY(1000px);
                    opacity: 0;
                }
            }
    .background-container section{
        height: 100vh-10px;
        width: 1200px;
        padding-top: 10px;
        min-width: 50%;
        overflow-y: scroll;
        display: flex;
            flex-direction: column;
            gap: 10px;
    }
        .background-container section.out{
            animation: slide-out-blurred-right 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
        }
            @keyframes slide-out-blurred-right {
                0% {
                    transform: translateX(0) scaleY(1) scaleX(1);
                    transform-origin: 50% 50%;
                    filter: blur(0);
                    opacity: 1;
                }
                100% {
                    transform: translateX(1000px) scaleX(2) scaleY(0.2);
                    transform-origin: 0% 50%;
                    filter: blur(40px);
                    opacity: 0;
                }
            }
    /* width */
    .background-container section::-webkit-scrollbar {
            width: 10px;        }
    /* Track */
    .background-container section::-webkit-scrollbar-track {
        background: transparent;
    }
    /* Handle */
    .background-container section::-webkit-scrollbar-thumb {
        background: #AAACA1;
        width: 5px;
        transition: 1s;
        border-radius: 10px;
    }
    /* Handle on hover */
    .background-container section::-webkit-scrollbar-thumb:hover {
        background: #FF0000;
        transition: .5s;
        border-radius: 50px;
        width: 10px;
    }
.label-container{
    cursor:default;
    width: 90%;
    padding: 10px 30px;
    background-color: #E3311D;
    border-radius: 10px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
    .label-container hr{
        width: 100%;
    }
    .label-container .table{
        width: 60%;
        font-size: 1vw;
        font-weight: none;
    }
.profile-container{
    position: sticky;
        top: 10px;
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
        justify-content: center;
        align-items: center;
    animation: levitate 2s ease-in-out infinite alternate;
}

@keyframes levitate {
from {
    transform: translateY(0);
}
to {
    transform: translateY(-20px);
}
}
.profile-front{
    position: absolute;
        z-index: 10;
    width: 100%;
    background-color: #E3311D;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
        justify-content: center;
        align-items: center;
}
    .profile-front img{
        width: 95%;
        height: 95%;
        border-radius: 50%;
        object-fit: contain;
    }
.border_back {
    width: 80%;
    aspect-ratio: 1/1;
    border: solid 5px #E3311D;
    transform: rotate(45deg);
}
.border_back.spin{
    animation: rotateBorder 3s linear;
    animation-iteration-count: 3;
}
    @keyframes rotateBorder {
        from {
            transform: rotate(45deg);
        }
        to {
            transform: rotate(405deg);
        }
    }

    .edit_container{
        position: absolute;
            top: 0;
            left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.7);
        display: none;
            justify-content: center;
            align-items: center;
        z-index: 100;
        transition: 1.5s;
    }
    .edit_container.open{
        display: flex;
        transition: 1.5s;
    }
        .edit-box{
            background-color: #E3311D;
            width: 400px;
            padding: 50px;
            border-radius: 50px;
            display: flex;
                flex-direction: column;
                gap: 20px;
        }
            .edit-box span{
                font-size: 1.5rem;
                font-weight: 600;
                color: #f2f2f2;
            }
            .edit-box input {
                background-color: #eee;
                border: none;
                padding: 1rem;
                font-size: 1rem;
                width: 100%-100px;
                border-radius: 1rem;
                color: #FF0000; 
                box-shadow: 0 0.4rem #dfd9d9;
                cursor: pointer;
            }
            .edit-box input:focus {
                outline-color: #FF0000;
            }
            .edit-action{
                display: flex;
                    justify-content: space-around;
                    align-items: center;
            }
            .edit-action button{
                padding: 10px 20px;
                font-size: 1.2rem;
                font-weight: 600;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                transition: .5s;
            }
            .edit-action .edit-cancel{
                background-color: #362E2D;
                color: white;    
            }