.header-section{
    width: 100%;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
}
    .header-section .title-cart{
        flex-grow: 5;
        padding-inline:10px;
        font-size: 2rem;
        user-select: none;
        color: #f2f2f2;
        font-weight: bolder;
        border-bottom: solid 5px white;
        border-bottom-right-radius: 50px 55%;
    }
    .header-section .tabs-container{
        height: 100%;
        display: flex;
            justify-content: space-evenly;
            align-items: center;
        flex-grow: 3;
        /* border-left: solid 1px white; */
        border-top: solid 5px white;
        border-top-left-radius: 50px 55%;
    }
        .tabs-container .tabs{
            padding: 5px 10px;
            width: 100px;
            background-color: #AAACA1;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            display: flex;
                justify-content: center;
            user-select: none;
            cursor: pointer;
            transition: .5s;
        }
        .tabs-container .tabs:hover{
            transform: translateY(10px);
            transition: 5.s;
        }   
        .tabs-container .active:hover{
            transform: translateY(5px);
        }
        .tabs-container .active{
            background-color: #E3311D;
            color: white;
            transition: .5s;
        }
        .dontwanna{
            animation: nope ease 1.5s;
            transition: .5s;
        }
        @keyframes nope {
            0%{
                transform: translateX(5px);
            }
            12%{
                transform: translateX(-10px);
            }
            24%{
                transform: translateX(10px)
            }
            36%{
                transform: translateX(-10px)
            }
            48%{
                transform: translateX(10px)
            }
            60%{
                transform: translateX(-10px)
            }
            72%{
                transform: translateX(5px)
            }
            84%{
                transform: translateX(-5px)
            }
            96%{
                transform: translateX(2.5px)
            }
            100%{
                transform: translateX(0)
            }
        
        }
    .header-section .edit-button{
        border-top: solid 5px white;
        height: 100%;
        min-width: 30px;
        flex-grow: 1;
        padding-inline: 50px;
        display: flex;
            align-items: center;
            justify-content: center;
    }
        .edit-button svg {
            fill: #f2f2f2;
            cursor: pointer;
            user-select: none;
        }
    .edit-button:hover svg g g #editicon_pen{
        fill: #E3311D;
        transition: .5s;
    }