.section-container{
    height: 100%;
    width: 100%;
    display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    overflow-y: scroll;
}
.section-container::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.section-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.section-container::-webkit-scrollbar-thumb {
    background: white;
    width: 5px;
    transition: 1s;
    border-radius: 10px;
}

/* Handle on hover */
.section-container::-webkit-scrollbar-thumb:hover {
    background: #FF0000;
    transition: .5s;
    border-radius: 50px;
    width: 10px;
}

.message-box{
    display: flex;
        align-items: center;
        justify-content: center;
    width: calc(100% - 500px);
    min-height: 100px;
    height: auto;
}
    .message-box span{
        font-size: 2rem;
        color: #E3311D;
    }
.box-container{
    min-height: 200px;
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
    .box-container hr{
        border: 1px solid white;
        width: 98%;
        margin: 10px 0;
    }
    .box-container .table{
        height: 100%;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .box-container div{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        width: 95%;
        padding: 10px 0;
        background-color: #E3311D;
        border-radius: 10px;
        color: white;
    }
    .table tbody{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            gap: 5px;
    }
        .table tbody tr{
            width: 100%;
            display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
        }
            .table tbody tr td{
                border-radius: 10px;
                width: 100%;
                padding: 10px;
            }
.box-container#b1{
    flex-grow: 1;
}   
.box-container#b3{
    flex-grow: 1;
}

.box-container#b2 .table tbody tr td:last-child{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    width: 20px;
}   
.box-container#b2 .table tbody tr td:first-child{
    color: aliceblue;
}
.box-container#b2 table tbody tr th{
    color: #E3311D;
}
    .box-container#b2 .table tbody{
        color: #000;
        margin-left: auto;
        margin-right: auto;
        /* Or the shorthand: */
        margin: auto;
        display: flex;
    }