.section-container{
    height: 100%;
    width: 100%;
    display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    overflow-y: scroll;
}
.section-container::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.section-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.section-container::-webkit-scrollbar-thumb {
    background: white;
    width: 5px;
    transition: 1s;
    border-radius: 10px;
}

/* Handle on hover */
.section-container::-webkit-scrollbar-thumb:hover {
    background: #FF0000;
    transition: .5s;
    border-radius: 50px;
    width: 10px;
}

.message-box{
    background-color: red;
    display: flex;
        align-items: center;
        justify-content: center;
    width: calc(100% - 500px);
    min-height: 100px;
    height: auto;
}
    /* .message-box span{
        font-size: ;
    } */
.box-container{
    min-height: 200px;
    height: auto;
    width: fit-content;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px white;
    border-radius: 10px;
    padding: 20px;
}
.box-container#b1{
    flex-grow: 1;
}
.box-container#b3{
    width: 800px;
}
